@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
grid
#wrapper {
    max-width: 1600px;
    margin: 0 auto;

}
#valentines-title {
    text-align: center;
}
body {
    background-color: pink; 
    font-family: 'roboto condensed';
    font-size: 22px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 0;  
    text-align: center; 
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#cupid-img {
    width: 600px;
    height: 600px;
    grid-column-start: 1;
    grid-column-end: 2;
}